@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

.navigation {
  position: fixed;
  top: 50px;
  right: 50px;
  height: 50px;
  width: 250px;
  height: 50px;
  background: #2196f3;
  transition: 0.5;
  z-index: 100000;
  overflow: hidden;
}
.navigation.active{
  height: 200px;
}

.navigation .toggle {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background: #2196f3;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 20px;
  font-size: 20px;
  cursor: pointer;
}
.navigation .toggle:before {
  content: 'Menu';
  margin-right: 10px;
}
.navigation .toggle.active:before {
  content: 'Close';
  margin-right: 10px;
}
.navigation .toggle span{
  position: relative;
  width: 20px;
  height: 20px;
}

.navigation .toggle span::before{
  content: '';
  position: absolute;
  top: 6px;
  left: 0;
  width: 100%;
  height: 2px;
  background: #fff;
  transition: 0.5s;
}
.navigation .toggle span::after{
  content: '';
  position: absolute;
  bottom: 6px;
  left: 0;
  width: 100%;
  height: 2px;
  background: #fff;
  transition: 0.5s;
}
.navigation .toggle.active span::before {
  transform: rotate(135deg);
  top: 9px;
}
.navigation .toggle.active span::after {
  transform: rotate(225deg);
  bottom: 9px;
}
.navigation ul{
  position: relative;
  background: #111;
}
.navigation ul li{
  list-style: none;
}
.navigation ul li a{
  position: relative;
  text-decoration: none;
  display: block;
  padding: 10px 20px;
  height: 50px;
  color: #fff;
  font-size: 18px;
  transition: 1s;
}
.navigation ul li a:hover{
  transition: 0s;
  background: #2196f3;
}
section{
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #e3f2fd;
}
section h2{
  font-size: 12vw;
  color: rgba(33, 150, 243, 0.4);
}
